<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="common/header::header">
</head>
<body>
	<table id="statisticTable" class="table table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th class="hsys-table-checkbox-column" rowspan=2><input type="checkbox" name="selectAll"></th>
		    	<th width=50px rowspan=2>组</th>
				<th width=100px rowspan=2>工号</th>
				<th width=100px rowspan=2>姓名</th>
				<th width=80px colspan=4 style="text-align:center;">加班(h)</th>
				<th width=80px colspan=7 style="text-align:center;">请假(h)</th>
		    </tr>
		    <tr>
		    	<th width=50px>平时</th>
		    	<th width=50px>周末</th>
		    	<th width=50px>节假</th>
		    	<th width=50px>合计</th>
		    	<th width=50px>休</th>
		    	<th width=50px>事</th>
		    	<th width=50px>病</th>
		    	<th width=50px>婚</th>
		    	<th width=50px>丧</th>
		    	<th width=50px>公</th>
		    	<th width=50px>合计</th>
		    </tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" name="select"></td>
		    	<td>zuken</td>
		    	<td>001</td>
		    	<td>bac</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
			<tr>
				<td><input type="checkbox" name="select"></td>
		    	<td>zuken</td>
		    	<td>002</td>
		    	<td>bac</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
		    <tr class="alert alert-success">
				<td><input type="checkbox" name="select"></td>
		    	<td>zuken</td>
		    	<td colspan=2>***小计***</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
		    <tr>
				<td><input type="checkbox" name="select"></td>
		    	<td>nttd</td>
		    	<td>001</td>
		    	<td>bac</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
			<tr>
				<td><input type="checkbox" name="select"></td>
		    	<td>nttd</td>
		    	<td>002</td>
		    	<td>bac</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
		    <tr class="alert alert-success">
				<td><input type="checkbox" name="select"></td>
		    	<td>nttd</td>
		    	<td colspan=2>***小计***</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
		    <tr class="alert alert-danger">
				<td><input type="checkbox" name="select"></td>
		    	<td colspan=3>***合计***</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>2</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    	<td>1</td>
		    </tr>
		</tbody>
	</table>
	<div th:replace="common/footer::copyright"></div>
</body>
</html>