<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="common/header::header">
</head>
<body>
	<script th:src="@{/js/attendance/list.js}"></script> 
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" id="attForm" style="padding-left:0px;" role="form" th:action="@{/attendance/html/list}" method="post">
	 			<div class="form-group">
				   <input type="text" class="form-control hsys-fc-userno-width" id="userNo" name="userNo" th:value="${form!=null?form.userNo:_}" placeholder="输入工号">
	 			</div>
	 			<div class="form-group">
				   <input type="date" class="form-control hsys-fc-date-width" id="start" name="start" th:value="${#dates.format(form.start, 'yyyy-MM-dd')}" placeholder="开始">
	 			</div>
	 			<div class="form-group">
				   到
				   <input type="date" class="form-control" style="width:150px" id="end" name="end" th:value="${#dates.format(form.end, 'yyyy-MM-dd')}" placeholder="结束">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-primary">查询</button>
	 			<button type="button" class="btn btn-sm btn-primary" id="upload" 
	 				sec:authorize="${hasAnyAuthority(T(com.hsys.models.enums.ROLE).ATTENDANCE_UPLOAD)}">导入</button>
			</form>
		</div>
	</nav>
	<table id="attendanceTable" class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th class="hsys-table-checkbox-column"><input type="checkbox" name="selectAll"></th>
		    	<th class="hsys-table-index-column">#</th>
		    	<th width=50px>工号</th>
				<th width=100px style="text-align:center;">姓名</th>
				<th width=100px style="text-align:center;">日期</th>
				<th width=80px style="text-align:center;">出勤</th>
				<th width=80px style="text-align:center;">退勤</th>
				<th>详细</th>
		    </tr>
		</thead>
		<tbody>
			<tr th:each="attendance, itr : ${list}"
				th:rowid="${attendance.id}">
				<td>
					<input type="checkbox" name="select" th:rowid="${attendance.id}">
				</td>
				<td th:text="${itr.index+1}" class="hsys-table-index-column"></td>
				<td th:text="${attendance.user.no}"></td>
				<td th:text="${attendance.user.name}"></td>
				<td th:text="${#dates.format(attendance.date, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(attendance.start, 'HH:mm')}"></td>
				<td th:text="${#dates.format(attendance.end, 'HH:mm')}"></td>
				<td th:text="${attendance.comment}"></td>
		    </tr>
		</tbody>
	</table>
	<div th:if="${#lists.size(list) == 0}" class="alert alert-warning">当前权限以及过滤条件下没有考勤数据。</div>
	<div id="page">
	 	<input type="hidden" name="pages" th:value="${form.pages}">
		<input type="hidden" name="pageStart" th:value="${form.pageStart}">
		<input type="hidden" name="pageEnd" th:value="${form.pageEnd}">
		<input type="hidden" name="pageNum" th:value="${form.pageNum}">
		<input type="hidden" name="pageSize" th:value="${form.pageSize}">
		<input type="hidden" name="pageCount" th:value="${form.pageCount}">
	</div>
	<div th:replace="common/footer::copyright"></div>
</body>
</html>