@charset "UTF-8";

.hsys-menu {
	width:250px;
	height:100%;
	position:absolute;
	float:left;
	border-right:3px solid #989494;
}

.hsys-content {
	min-width:400px;
	position:relative;
	background:#fff;
	margin-left:247px;
	border-left:3px solid #989494;
}

.hsys-table-checkbox-column {
	width:15px;
}

.hsys-table-index-column {
	width:15px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
}

.hsys-text-right {
	text-align: right;
}

.hsys-text-center {
	text-align: center;
}

.hsys-text-left {
	text-align: left;
}

.hsys-no-boder-form-control {
	box-shadow:0 1px 1px rgba(0, 0, 0, 0);
	border-width:0px;
	padding-left:0px;
}

.hsys-blue-font {
	color:#0489B1;
}

.hsys-white-font {
	color:#fff;
}

.hsys-alert-font {
	font-style: italic;
	font-size: 12px;
}

.hsys-red-font {
	color:#FF0000;
}

.hsys-a-pointer {
	cursor:pointer !important;
	text-decoration:none !important;
}

.hsys-red-bg {
	background-color:#ca0c16;
}

.hsys-select-row {
	color:#FFFFFF;
	background-color:#5899d1 !important;
}

.hsys-fc-userno-width {
	width:90px !important;
}

.hsys-fc-date-width {
	width:160px !important;
}

.hsys-small-btn {
	line-height:1.0;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}
.hsys-blink {
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}