<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header::header">
</head>
<body>
	<div th:replace="common/page::head"></div>
	<div th:replace="common/page::menu"></div>
	<div class="hsys-content">
		<div class="container-fluid" style="padding-left:0px;">
			<div class="row-fluid">
				<ul class="nav nav-tabs" th:if="${form.user}">
					<li role="presentation" th:class="(${form.type}=='items'? 'active' : '')">
						<a th:href="@{/expense/html/main?type=items&user=true}">报销条目</a>
					</li>
					<li role="presentation" th:class="(${form.type=='receipts' || form.type=='receipt'? 'active' : ''})">
						<a th:if="${form.type=='receipts' || form.type=='items'}" th:href="@{/expense/html/main?type=receipts&user=true}">报销单</a>
						<a th:if="${form.type=='receipt'}" th:href="@{'/expense/html/main?type=receipts&user=true'}">报销单</a>
					</li>
				</ul>
				
				<div th:replace="expense/__${form.type}__::content()"></div>
				<div th:replace="common/footer::footer"></div>
			</div>
		</div>
	</div>
</body>
</html>
