<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HSYS</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/> 
	<link rel="stylesheet" th:href="@{/libs/bootstrap-select/css/bootstrap-select.min.css}"/> 
	<link rel="stylesheet" th:href="@{/css/common/htreeview.css}"/> 
	<link rel="stylesheet" th:href="@{/css/common/hsys.css}"/> 
	<script th:src="@{/libs/jquery/jquery.min.js}"></script> 
	<script th:src="@{/libs/jquery/jquery.form.js}"></script> 
	<script th:src="@{/libs/jquery/jquery.cookie.js}"></script> 
	<script th:src="@{/libs/jquery/jQuery.print.min.js}"></script> 
	<script th:src="@{/libs/bootstrap/js/bootstrap.min.js}"></script> 
	<script th:src="@{/libs/bootstrap-select/js/bootstrap-select.min.js}"></script> 
	<script th:src="@{/libs/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
	<script th:src="@{/js/common/hstr.js}"></script> 
	<script th:src="@{/js/common/hsys.js}"></script> 
	<script th:src="@{/js/common/htbl.js}"></script> 
	<script th:src="@{/js/common/hdlg.js}"></script> 
	<script th:src="@{/js/common/hdate.js}"></script> 
	<script th:src="@{/js/common/htreeview.js}"></script> 
	<script th:src="@{/js/common/hpage.js}"></script>
	
	<style type="text/css">
		body {
	    	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	    }
	</style>
</head>
<body>
</body>
</html>