<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsys.mappers.CompanyMapper">
	<resultMap id="companyResultMap" type="companyModel" >  
        <id column="c_id" property="id"/>  
        <result column="c_name" property="name"/>
        <result column="c_address" property="address"/>
        <result column="c_phone_number" property="phoneNum"/>
    </resultMap>
    <resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>  
        <result column="u_name" property="name"/> 
 	</resultMap>
 	
	<select id="queryList" resultMap="companyResultMap">
		select c.c_id as c_id,
			   c.c_name as c_name,
			   c.c_address as c_address,
			   c.c_phone_number as c_phone_number
		from company_tbl as c
		<where>
			<if test="cond.name != null">
				c.c_name = #{name}
			</if>
			<if test="cond.id != null">
				c.c_id = #{id}
			</if>
		</where>
		order by c.c_name
	</select>
	
	<insert id="add" parameterType="companyModel">
    	insert into company_tbl (
    		c_name,
    		c_address,
    		c_phone_number
    		)
    	values (
    		#{name},
    		#{address},
    		#{phoneNum}
    	)
    </insert>
    
    <update id="update">
    	update company_tbl
		<set>
    		<if test="update.name != null">
				c_name = #{name},
			</if>
    		<if test="update.address != null">
				c_address = #{address},
			</if>
    		<if test="update.phoneNum != null">
				c_phone_number = #{phoneNum}
			</if>
		</set>
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <delete id="delete">
    	delete from company_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
</mapper>