<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsys.mappers.DeviceMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>       
        <result column="u_no" property="no"/>       
    </resultMap>
	<resultMap id="deviceResultMap" type="deviceModel" >
	 	<id column="d_id" property="id"/>
		<result column="d_no" property="no"/> 
		<result column="d_comment" property="comment"/> 
		<result column="d_status" property="status"/> 
		<association property="user" resultMap="userResultMap"/>
	</resultMap> 
	<select id="queryList" resultMap="deviceResultMap">
		select 	d.c_id as d_id,
				d.c_no as d_no,
				d.c_comment as d_comment,
				d.c_status as d_status,
				u.c_id as u_id,
				u.c_name as u_name,
				u.c_no as u_no			   
		from device_tbl as d 
		left join user_tbl as u on d.c_user_id=u.c_id
		<where>
			<if test="cond.id != null">
				and d.c_id = #{id}
			</if>
			<if test="cond.userNo != null">
				and d.c_no like '%' #{user.no} '%'  or u.c_no like '%' #{user.no} '%'
			</if>
		</where>
	</select>
	<insert id="add" parameterType="deviceModel">
    	insert into device_tbl (
    		c_no,
    		c_comment,
    		c_status,
    		c_user_id)
    	values (
    		#{no},
    		#{comment},
    		#{status},
    		#{user.id}
    	)
    </insert>
    <update id="update">
    	update device_tbl
		<set>
    		<if test="update.comment != null">
				c_comment = #{comment},
			</if>
    		<if test="update.status != null">
				c_status = #{status},
			</if>
    		<if test="update.userId != null">
				c_user_id = #{user.id},
			</if>
		</set>
    	<where>
			c_id = #{id}
		</where>
    </update>
    <delete id="delete">
    	delete from device_tbl
    	<where>
			<if test="cond.id != null">
				and c_id = #{id}
			</if>
		</where>
    </delete>
</mapper>