<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsys.mappers.ExpenseReceiptMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>       
        <result column="u_no" property="no"/>       
    </resultMap>
	<resultMap id="projectResultMap" type="projectModel" >  
        <id column="p_id" property="id"/>
        <result column="p_no" property="no"/>       
        <result column="p_name" property="name"/>       
    </resultMap>
	<resultMap id="expenseReceiptResultMap" type="expenseReceiptModel" >
	 	<id column="e_id" property="id"/>
		<result column="e_no" property="no"/> 
		<result column="e_submit_date" property="submitDate"/> 
		<result column="e_pay_date" property="payDate"/> 
		<result column="e_type" property="type"/> 
		<result column="e_comment" property="comment"/> 
		<result column="e_status" property="status"/> 
		<result column="e_attachment_path" property="attachmentPath"/> 
		<association property="project" resultMap="projectResultMap"/>
		<association property="payee" resultMap="userResultMap"/>
	</resultMap> 
	<select id="queryList" resultMap="expenseReceiptResultMap">
		select 	
				e.c_id as e_id,
				e.c_no as e_no,
				e.c_submit_date as e_submit_date,
				e.c_type as e_type,
				e.c_pay_date as e_pay_date,
				e.c_payee_id as e_payee_id,
				e.c_status as e_status,
				e.c_comment as e_comment,
				e.c_attachment_path as e_attachment_path,
				e.c_project_id as e_project_id,
				u.c_no as u_no,
				u.c_id as u_id,
				u.c_name as u_name,		   
				p.c_id as p_id,
				p.c_no as p_no,
				p.c_name as p_name			   
		from expense_receipt_tbl as e 
		left join user_tbl as u on e.c_payee_id=u.c_id
		<if test="cond.payeeGroupId != null">
			left join user_group_tbl as ug on e.c_payee_id=ug.c_user_id
		</if>
		left join project_tbl as p on e.c_project_id=p.c_id
		<where>
			<if test="cond.id != null">
				and e.c_id = #{id}
			</if>
			<if test="cond.payeeNo != null">
				<choose>
	                <when test="cond.fuzzyPayeeNo != null">
	                   	and u.c_no like '%${payee.no}%'
	                </when>
	                <otherwise>
	                    and u.c_no=#{payee.no}
	                </otherwise>
	            </choose>
	        </if>
			<if test="cond.payeeGroupId != null">
				and ug.c_group_id = #{cond.payeeGroupId}
			</if>
			<if test="cond.status != null">
				and e.c_status = #{status}
			</if>
			<if test="cond.projectIds != null">
				and p.c_id in
				<foreach item="pid" collection="cond.projectIds" separator="," open="(" close=")" index="i">
			    	#{pid}
			    </foreach>
			</if>
			<if test="cond.no != null">
				and e.c_no = #{no}
			</if>
		</where>
	</select>
	<insert id="add" parameterType="expenseReceiptModel">
    	insert into expense_receipt_tbl (
    		c_no,
    		c_comment,
    		c_type,
    		c_status,
    		c_pay_date,
			c_submit_date,
			c_payee_id
			)
    	values (
    		#{no},
    		#{comment},
    		#{type},
    		#{status},
    		#{payDate},
    		#{submitDate},
    		#{payee.id}
    	)
    	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    <update id="update">
    	update expense_receipt_tbl
		<set>
    		<if test="update.no != null">
				c_no = #{no},
			</if>
    		<if test="update.comment != null">
				c_comment = #{comment},
			</if>
    		<if test="update.type != null">
				c_type = #{type},
			</if>
    		<if test="update.payeeId != null">
				c_payee_id = #{payee.id},
			</if>
			<if test="update.status != null">
				c_status = #{status},
			</if>
			<if test="update.payDate != null">
				c_pay_date = #{payDate},
			</if>
			<if test="update.projectId != null">
				c_project_id = #{project.id},
			</if>
		</set>
    	<where>
			c_id = #{id}
		</where>
    </update>
    <delete id="delete">
    	delete from expense_receipt_tbl
    	<where>
			and c_id = #{id}
		</where>
    </delete>
 
	
</mapper>