<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsys.mappers.ExpenseReceiptMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>       
        <result column="u_no" property="no"/>       
    </resultMap>
	<resultMap id="expenseReceiptResultMap" type="expenseReceiptModel" >
	 	<id column="e_id" property="id"/>
		<result column="e_no" property="no"/> 
		<result column="e_submit_date" property="submitDate"/> 
		<result column="e_pay_date" property="payDate"/> 
		<result column="e_type" property="type"/> 
		<result column="e_payee_id" property="payeeId"/> 
		<result column="e_comment" property="comment"/> 
		<result column="e_status" property="status"/> 
		<association property="user" resultMap="userResultMap"/>
	</resultMap> 
	<select id="queryList" resultMap="expenseReceiptResultMap">
		select 	
				e.c_id as e_id,
				e.c_no as e_no,
				e.c_submit_date as e_submit_date,
				e.c_type as e_type,
				e.c_pay_date as e_pay_date,
				e.c_payee_id as e_payee_id,
				e.c_status as e_status,
				e.c_comment as e_comment,
				u.c_no as u_no,
				u.c_name as u_name			   
		from expense_receipt_tbl as e 
		left join user_tbl as u on e.c_payee_id=u.c_no
	</select>
 
	
</mapper>