<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsys.mappers.ExpenseItemMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>       
        <result column="u_no" property="no"/>       
    </resultMap>
	<resultMap id="expenseReceiptResultMap" type="expenseReceiptModel" >  
        <id column="r_id" property="id"/>
        <result column="r_no" property="no"/>       
        <result column="r_status" property="status"/>       
    </resultMap>
	<resultMap id="expenseItemResultMap" type="expenseItemModel" >
	 	<id column="i_id" property="id"/>
		<result column="i_date" property="date"/> 
		<result column="i_type" property="type"/> 
		<result column="i_num" property="num"/> 
		<result column="i_comment" property="comment"/> 
		<result column="i_status" property="status"/> 
		<association property="user" resultMap="userResultMap"/>
		<association property="payee" resultMap="userResultMap" columnPrefix="p"/>
		<association property="receipt" resultMap="expenseReceiptResultMap"/>
	</resultMap> 
	<select id="queryList" resultMap="expenseItemResultMap">
		select 	
				i.c_id as i_id,
				i.c_date as i_date,
				i.c_type as i_type,
				i.c_num as i_num,
				i.c_comment as i_comment,
				i.c_status as i_status,
				u.c_id as u_id,
				u.c_no as u_no,
				u.c_name as u_name,			   
				p.c_id as pu_id,
				p.c_no as pu_no,
				p.c_name as pu_name,			   
				r.c_id as r_id,
				r.c_no as r_no,
				r.c_status as r_status
		from expense_item_tbl as i 
		left join user_tbl as u on i.c_user_id=u.c_id
		left join user_tbl as p on i.c_payee_id=p.c_id
		left join expense_receipt_tbl as r on i.c_receipt_id=r.c_id
		<if test="cond.payeeGroupId != null">
			left join user_group_tbl as pg on i.c_payee_id=pg.c_user_id
		</if>
		<where>
			<if test="cond.id != null">
				and i.c_id = #{id}
			</if>
			<if test="cond.status != null">
				and i.c_status = #{status}
			</if>
			<if test="cond.receiptId != null">
				and i.c_receipt_id = #{receipt.id}
			</if>
			<if test="cond.receiptNo != null">
	        	and r.c_no=#{cond.receiptNo}
			</if>
			<if test="cond.payeeNo != null">
				<choose>
	                <when test="cond.fuzzyPayeeNo != null">
	                   	and p.c_no like '%${payee.no}%'
	                </when>
	                <otherwise>
	                    and p.c_no=#{payee.no}
	                </otherwise>
	            </choose>
	        </if>
	        <if test="cond.payeeGroupId != null">
				and pg.c_group_id = #{cond.payeeGroupId}
			</if>
		</where>
		<if test="sortOrder != null and sortOrder.size() != 0">
			order by 
			<foreach collection ="sortOrder" item="orderCond" index= "index" separator =",">
				<if test="orderCond.key == 'userNo'">
					u.c_no ${orderCond.flag}
				</if>
				<if test="orderCond.key == 'date'">
					i.c_date ${orderCond.flag}
				</if>
            </foreach >
		</if>
	</select>
	<insert id="add" parameterType="expenseItemModel">
    	insert into expense_item_tbl (
    		c_date,
    		c_user_id,
			c_payee_id,
			c_num,
    		c_comment,
    		c_type
			)
    	values (
    		#{date},
    		#{user.id},
    		#{payee.id},
    		#{num},
    		#{comment},
    		#{type}
    	)
    	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
     <update id="update">
    	update expense_item_tbl
		<set>
    		<if test="update.date != null">
				c_date = #{date},
			</if>
    		<if test="update.userId != null">
				c_user_id = #{user.id},
			</if>
    		<if test="update.type != null">
				c_type = #{type},
			</if>
    		<if test="update.payeeId != null">
				c_payee_id = #{payee.id},
			</if>
			<if test="update.num != null">
				 c_num = #{num},
			</if>
			<if test="update.comment != null">
				 c_comment = #{comment},
			</if>
			<if test="update.receiptId != null">
				 c_receipt_id = #{receipt.id},
			</if>
			<if test="update.status != null">
				 c_status = #{status},
			</if>
		</set>
    	<where>
			c_id = #{id}
		</where>
    </update>
     <delete id="delete">
    	delete from expense_item_tbl
    	<where>
			and c_id = #{id}
		</where>
    </delete>
</mapper>