<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="common/header::header">
</head>
<body style="padding:5px;">
	<H2>change notes:</H2>
	<div>
		<p><b>1.0.1</b></p>
		#8 fix 20190329 报销一览状态过滤错误
		#7 add 20190329 设备一览过滤条件不能保持，排序优化
		#6 add 20190329 用户一览隐藏不要账户
		#5 add 20190329 用户一览可以按照分组过滤
		#4 add 20190328 支持只输入工号数字登录
		#3 fix 20190328 报销条目编辑时，金额两位小数爆掉
		#2 add 20190328 主页无餐费的不要显示输入餐费消息
	</div>
	<div>
		<p><b>1.0.0</b></p>
		#1 20190328 初次发布
	</div>
</body>
</html>