<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="common/header::header">
</head>
<body style="padding:5px;">
	<H2>change notes</H2>
	<div>
		<p><b>author list:</b></p>
		<p>
			<b>H </b>hancaipeng,<br>
			<b>L </b>lingxiaming, lujiahui,<br>
			<b>Q </b>qiushuai,<br>
			<b>W </b>wujianlan,<br>
			<b>X </b>xielei,<br>
			<b>Y </b>yinchunlei,<br>
			<b>Z </b>zhangxiaofeng, zhangyanhong, zhufeiyan
		</p>
	</div><!-- 
	<div>
		<p><b>1.3</b></p>
		<p>#15 add 员工一览页面点击名字悬停显示详细信息</p>
		<p>#14 add zhufeiyan 员工详细页面履历功能</p>
		<p>#12 add MSATER表定义中学校，公司名字的显示按照拼音顺序</p>
		<p>#12 add 报销条目过滤追加，1.开始结束时间 2.是否关联报销单号</p>
		<p>#12 add wujianlan 加班时间月度统计表保存，每个月人员会变动因为</p>
		<p>#12 add wujianlan 分组定义按照父子顺序显示</p>
		</div> -->
	<div>
		<p><b>1.6.1</b></p>
        <p>#42 add zhangxiaofeng 添加任务组件和数据库备份任务</p>
	</div>
	<div>
		<p><b>1.6</b></p>
        <p>#41 fix zhangxiaofeng 无入职日时不能更改离职日期</p>
        <p>#40 fix zhangxiaofeng 无分组页面的js错误, 菜单保持展开状态</p>
        <p>#39 add wujianlan 假日定义</p>
		<p>#38 add zhangxiaofeng 邮件发送模块优化</p>
		<p>#37 add zhangxiaofeng 默认字体变更为yahei</p>
		<p>#36 add zhangxiaofeng 多个页面不能从浏览器返回按钮跳转修正</p>
		<p>#35 add lingxiaming 报销条目显示关联报销单状态，报销单备注总可修改</p>
		<p>#34 fix zhangyanhong 员工详细页面显示权限信息隐藏</p>
		<p>#33 add zhangyanhong 统计下载功能初步</p>
		<p>#32 add lingxiaming 员工岗位变更功能</p>
		<p>#31 add lingxiaming 各种表格的双击编辑动作</p>
		<p>#30 add zhufeiyan 组织管理中设定父组织的显示优化</p>
		<p>#29 add zhangyanhong 统计，请假，加班记录的分组查询</p>
	</div>
	<div>
		<p><b>1.5.1</b></p>
		<p>#28 add 20190620 Frame的废止</p>
	</div>
	<div>
		<p><b>1.5</b></p>
		<p>#27 add 20190618 员工一览页面可查看详细信息，需要权限</p>
		<p>#26 add 20190531 员工一览页面下载</p>
		<p>#25 fix 20190618 休假统计日期跨度时时间计算不正确</p>
		<p>#24 add 20190618 MSATER表定义</p>
		<p>#23 add 20190524 主页默认展开第一级菜单</p>
		<p>#22 add 20190521 加班批复页面追加等待消息框</p>
	</div>
	<div>
		<p><b>1.4</b></p>
		<p>#21 add 20190506 加班休假等统计页面</p>
		<p>#20 add 20190506 主页标语追加</p>
		<p>#19 add 20190506 主页入力加班餐的选择优化</p>
	</div>
	<div>
		<p><b>1.3</b></p>
		<p>#18 fix 出勤上传效率优化</p>
		<p>#17 add 出勤下载功能</p>
	</div>
	<div>
		<p><b>1.2</b></p>	
		<p>#16 fix 20190415 报销单错误修正以及操作大优化</p>
		<p>#15 add 20190415 主页加班登记时间自动计算变更</p>
		<p>#14 add 20190415 加班登记时间自动计算变更</p>
		<p>#13 add 20190415 报销条目金额合计</p>
		<p>#12 add 20190415 加班一览时间合计</p>
		<p>#11 fix 20190415 加班晚餐时，不能修改为午餐</p>
	</div>
	<div>
		<p><b>1.1</b></p>
		<p>#10 add 主页假日显示</p>
		<p>#9 add 20190401 报销一览默认按登录者过滤，和报销单条目交换顺序</p>
		<p>#8 fix 20190329 报销一览状态过滤错误</p>
		<p>#7 add 20190329 设备一览过滤条件不能保持，排序优化</p>
		<p>#6 add 20190329 用户一览隐藏不要账户</p>
		<p>#5 add 20190329 用户一览可以按照分组过滤</p>
		<p>#4 add 20190328 支持只输入工号数字登录</p>
		<p>#3 fix 20190328 报销条目编辑时，金额两位小数错误</p>
		<p>#2 add 20190328 主页无餐费的加班不显示输入餐费消息</p>
	</div>
	<div>
		<p><b>1.0</b></p>
		#1 20190328 初次发布
	</div>
</body>
</html>