<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation" th:class="(${form.type}=='items'? 'active' : '')">
			<a th:href="@{/reimburse/html/main?type=items}">报销条目</a>
		</li>
		<li role="presentation" th:class="(${form.type}=='receipts'? 'active' : '')">
			<a th:href="@{/reimburse/html/main?type=receipts}">报销单</a>
		</li>
	</ul>
	
<div th:replace="reimburse/__${form.type}__::content(${list})"></div>
<div th:replace="common/footer::copyright"></div>
</body>
</html>
